# Bu faylni nusxalab .env nomi bilan saqlang va kerak bo'lsa qiymatlarni o'zgartiring.
# Agar .env fayl bo'lmasa ham, config.py dagi standart qiymatlar ishlatiladi.

BOT_TOKEN=8757536170:AAGuOgtPy7Rl0djDcK_XF2sHX_SZOsBpp_s
ADMIN_ID=7861165622
